<p>home-page works!</p>
<!-- 
<div class="card-body">
    <dx-data-grid id="tableCoin" 
    [dataSource]="dataSource" 
    [showBorders]="false"
    [showColumnLines]="false" [showRowLines]="true" 
    [rowAlternationEnabled]="true"
    [columnWidth]="107"
     (onExporting)="exportGrid($event)"    
    >     
       
        <dxo-filter-row [visible]="false"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
     
       
        <dxo-selection mode="multiple"></dxo-selection>

      
         <dxo-paging [pageSize]="10"></dxo-paging>
         <dxo-pager [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="[ 10, 20, 50, 100]" [showInfo]="true"></dxo-pager>
     
       
         <dxo-export [enabled]="true" [allowExportSelectedData]="true" 
         [formats]="['xlsx', 'pdf']"></dxo-export>
     
      
         <dxo-remote-operations [filtering]="true" [sorting]="true" [grouping]="false" [paging]="true" [summary]="true"></dxo-remote-operations>
     
    
         <dxo-column-chooser mode="select" [allowSearch]="false"></dxo-column-chooser>
        
         <dxo-search-panel [visible]="true"></dxo-search-panel>
        
         <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

         
      
        <dxi-column dataField="date" dataType="date"></dxi-column>
        <dxi-column dataField="merchInvoice" caption="Merchant Invoce"></dxi-column>
        <dxi-column dataField="merchant"></dxi-column>
        <dxi-column dataField="location"></dxi-column>
        <dxi-column dataField="icao" caption="ICAO/IATA"></dxi-column>
        <dxi-column dataField="dodaac" caption="DoDAAC"></dxi-column>
        <dxi-column dataField="tail" caption="Tail"></dxi-column>
        <dxi-column dataField="item" caption="Item"></dxi-column>
        <dxi-column dataField="total" cellTemplate="total" caption="Total"></dxi-column>
        <dxi-column dataField="card" caption="Card"></dxi-column>
        <dxi-column dataField="status" cellTemplate="status" caption="Status"></dxi-column>
        
        <div *dxTemplate="let row of 'total'">
            {{row.value | currency: 'USD'}}
        </div>
        <div *dxTemplate="let row of 'status'" class="text-primary">
            {{row.value}}
        </div>

        
    </dx-data-grid>
</div>  -->